<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">



    <title>Basic CRUD</title>
</head>

<body ng-app="myApp">


    <div class="row" ng-controller="stockController" ng-init="listing()" >
        <div class="col-xs-1 col-xs-offset-1 top-button">
            <a href="../index.html">  <button type="button" class="btn btn-info"name="button">Index</button>   </a>
        </div>
        <div class="col-xs-1 col-xs-offset-1 top-button">
            <a href="create.html"> <button type="button" class="btn btn-success"name="button">New Stock</button></a>
        </div>
        <div class="col-xs-5 ">


            <table class="table table-bordered top">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product_ID</th>
                        <th>Quantity</th>
                        <th>Date_Time</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody ng-init="product()">
                    <tr ng-repeat="stock in stocks">
                        <td>{{stock.id}}</td>
                        <td>{{stock.product_id}} {{eachProduct(stock.product_id)}}</td>
                        <td>{{stock.quantity}}</td>
                        <td>{{stock.date}}</td>
                        <td>   <a href="update.html?id={{stock.id}}">  <button type="button" class="btn btn-info"name="button">Update    </button>   </a>
                             <button type="button"  ng-click="deleteStock(stock.id)" class="btn btn-danger"name="button">Delete    </button>     </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src=../../app/stock_controller.js></script>
</html>
