<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/jquery.datetimepicker.min.css">


  <title>Basic CRUD</title>
</head>

<body ng-app="myApp">

    <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" >APUS</span>
            </div>
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav nav   ">
                    <li id="product" class="nav-item"><a class="py-2 d-none d-md-inline-block nav-link" href="../product/listing.html">Product</a></li>
                    <li id="stock" class="nav-item"><a class="py-2 d-none d-md-inline-block nav-link" href="../stock/listing.html">Stock</a></li>
                    <li id="category" class="nav-item"><a class="py-2 d-none d-md-inline-block nav-link" href="../category/listing.html">Category</a></li>




                    <li  class="nav-item ml-auto "><a id="logoff" class="py-2 d-none d-md-inline-block">Log Off</a></li>
                </ul>


            </div>
        </div>
    </nav>


  <div class="row" ng-controller="stockController" ng-init="oneStock()">

    <div class="col-xs-3 col-xs-offset-4 top " ng-init="product()">



      <label title="Product Identifier">Product_ID</label>
      <select class="form-control" ng-model="stock.product_id" ng-init=""required>

                <option disabled value="{{stock.product_id}}" selected >{{eachProduct(stock.product_id)}}</option>

                <option selected ng-repeat="product in products" value="{{product.id}}">  {{product.title}}  </option>

            </select>
      <br>
      <label title="Quantity">Quantity</label>
      <input type="number" class="form-control input-4 number" value="{{stock.quantity}}" ng-model="stock.quantity" name="outros" title="">

      <br>
      <label title="">Date_Time</label>
      <input type="text" name="filter-date" value="{{stock.date}}"class="form-control" id="filter-date" value="dasd" />


      <input type="text"  id="date"value=""style="display:none">
      <br>




      <button type="button" class="btn btn-info"id="button"ng-keyup="$event.keyCode == 13 ? updateStock() : null" ng-click="updateStock()" name="button">Send</button>


    </div>
  </div>
</body>


<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/moment.js"></script>
<script type="text/javascript" src="../../app/login_service.js"></script>
<script type="text/javascript" src=../../app/stock_controller.js></script>
<script type="text/javascript" src="../../js/jquery.datetimepicker.full.min.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function() {
    'use strict';
    jQuery('#filter-date').datetimepicker({

    });

  });
</script>

<script type="text/javascript">

function data(){
document.getElementById('date').value=$('#filter-date').val();
}
document.getElementById('button').addEventListener("mouseover",data);
</script>

<script type="text/javascript">

//used for controlling the inputs
$('.number').keyup(function () {
    if (!this.value.match(/[0-9]/)) {
        this.value = this.value.replace(/[^0-9]/g, '');
    }
});

</script>














</html>
