<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">


    <script type="text/javascript" src="../../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>

    <title>Basic CRUD</title>
</head>
<body ng-app="myApp">
    <div ng-controller="categoryController">
    <div class="row">


        <div class="col-xs-3 col-xs-offset-4 top">

            <form class="" action="" method="post">




                <input  type="hidden" class="form-control input-4" value=""  name="outros" ng-model="category.id" >


                <label  title="Name">Name</label>
                <input  type="text" class="form-control input-4" value=""  name="outros" ng-model="category.name" required>

                <br>
                <button type="button"class="btn btn-info" name="button"  ng-click="newCategory()">Save</button>



            </form>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src=../../app/category_controller.js></script>
</html>
