<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">



    <title>Basic CRUD</title>
</head>
<body ng-app="myApp" >
    <div ng-controller="categoryController">



        <div class="row" ng-init="listing()">
            <div class="col-xs-1 col-xs-offset-4 top-button">
                <a href="create.html"> <button type="button" class="btn btn-success"name="button">New Category</button></a>
            </div>
            <div class="col-xs-3">


                <table class="table table-bordered top">
                    <thead>
                        <tr  >
                            <th>ID</th>
                            <th>Name</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="category in categories">
                            <td>{{category.id}}</td>
                            <td>{{category.name}}</td>
                            <td>   <a href="update.html?id={{category.id}}"> <button type="button" class="btn btn-info"  name="button">Update    </button>  </a>
                                   <button type="button" class="btn btn-danger "name="button" ng-click="deleteCategory(category.id)">Delete    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src=../../app/category_controller.js></script>


</html>
