<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">




    <title>Basic CRUD</title>
</head>
<body    ng-app="myApp">

    <div class="row"  ng-controller="categoryController">


        <div class="col-xs-3 col-xs-offset-4 top"  ng-init="oneCategory()">









                <label  title="Name">Name</label>
                <input  type="text" class="form-control input-4" value="{{category.name}}"  name="outros" ng-model="category.name">

                <br>
                <button type="button"class="btn btn-info" ng-click="updateCategory()" name="button">Update</button>





        </div>
    </div>
</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src=../../app/category_controller.js></script>
</html>
