<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">



    <title>Basic CRUD</title>
</head>
<body ng-app="myApp">
    <div class="row" ng-controller="productController">

        <div class="col-xs-3 col-xs-offset-4 top" ng-init="category()">



            <input  type="hidden" class="form-control input-4" value=""  name="outros" ng-model="product.id" >
            <label  title="Category Identifier">Category_ID</label>
            <select ng-model="product.category_id" required>

                 <option disabled value="" selected hidden>Select one</option>

                <option selected ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>

            </select>
            <br>
            <label  title="Title">Title</label>
            <input  type="text" class="form-control input-4" value="" ng-model="product.title" name="outros" title="">

            <label  title="Description">Description</label>
            <input  type="text" class="form-control input-4" value="" ng-model="product.description" name="outros" title="">

            <label  title="Price">Price</label>
            <input  type="number" class="form-control input-4" value="" ng-model="product.price" name="outros" title="">

            <label  title="Quantity">Quantity</label>
            <input  type="number" class="form-control input-4" value="" ng-model="product.quantity" name="outros" title="">


            <br>
            <button type="button"class="btn btn-info" ng-click="newProduct()"name="button">Send</button>


        </div>
    </div>


</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src=../../app/product_controller.js></script>
</html>
