<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">



    <title>Basic CRUD</title>
</head>
<body ng-app="myApp">

    <div class="row"ng-controller="productController" ng-init="listing()" >
        <div class="col-xs-1 col-xs-offset-1 top-button">
            <a href="../index.html">  <button type="button" class="btn btn-info"name="button">Index</button>   </a>
        </div>


        <div class="col-xs-1  top-button">
            <a href="create.html"> <button type="button" class="btn btn-success"name="button">New Product</button></a>
        </div>
        <div class="col-xs-6 ">


            <table class="table table-bordered top">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID_Category</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody ng-init="category()">
                    <tr ng-repeat="product in products" >
                        <td>{{product.id}}</td>
                        <td>{{product.category_id}}  {{eachCategory(product.category_id) }}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>


                        <td><a href="update.html?id={{product.id}}">  <button type="button" class="btn btn-info"name="button">Update    </button>   </a>
                            <button type="button" class="btn btn-danger "  ng-click="deleteProduct(product.id)" name="button">Delete    </button>   </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src=../../app/product_controller.js></script>
</html>
