<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">



    <title>Basic CRUD</title>
</head>
<body ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" >APUS</span>
            </div>
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav nav   ">
                    <li id="product" class="nav-item"><a class="py-2 d-none d-md-inline-block nav-link" href="../product/listing.html">Product</a></li>
                    <li id="stock" class="nav-item"><a class="py-2 d-none d-md-inline-block nav-link" href="../stock/listing.html">Stock</a></li>
                    <li id="category" class="nav-item"><a class="py-2 d-none d-md-inline-block nav-link" href="../category/listing.html">Category</a></li>




                    <li  class="nav-item ml-auto "><a id="logoff" class="py-2 d-none d-md-inline-block">Log Off</a></li>
                </ul>


            </div>
        </div>
    </nav>

    <div class="row" ng-controller="productController"ng-init="oneProduct()">

        <div class="col-xs-3 col-xs-offset-4 top" ng-init="category()">



            <input  type="hidden" class="form-control input-4" value=""  name="outros" ng-model="product.id" >
            <label  title="Catergory Identifier">Category_ID</label>
            <select class="form-control"ng-model="product.category_id" required>

                 <option selected value="{{product.category_id}}" selected >{{eachCategory(product.category_id)}}</option>

                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>

            </select>
            <br>
            <label  title="Title">Title</label>
            <input  type="text" class="form-control input-4" value="{{product.title}}" ng-model="product.title" name="outros" title="">

            <label  title="Description">Description</label>
            <input  type="text" class="form-control input-4" value="{{product.description}}" ng-model="product.description" name="outros" title="">

            <label  title="Price">Price</label>
            <input  type="number" class="form-control input-4 number" value="{{product.price}}" ng-model="product.price" name="outros" title="">

            <label  title="Quantity">Quantity</label>
            <input  type="number" class="form-control input-4 number" value="{{product.quantity}}" ng-model="product.quantity" name="outros" title="">


            <br>
            <button type="button"class="btn btn-info" ng-click="updateProduct()"name="button">Send</button>


        </div>
    </div>


</body>
<script type="text/javascript" src=../../angular/angular.min.js></script>
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../app/login_service.js"></script>
<script type="text/javascript" src=../../app/product_controller.js></script>


<script type="text/javascript">
//used for controlling the input type

$('.number').keyup(function () {
    if (!this.value.match(/[0-9]/)) {
        this.value = this.value.replace(/[^0-9]/g, '');
    }
});


</script>
</html>
